In [1]:
" st python tutorial"

' st python tutorial'

In [5]:
str1 = " st python tutorial" # here str1 is variable and " st python tutorial" is value

In [6]:
str1

' st python tutorial'

In [16]:
print(str1)

 st python tutorial

In [18]:
x ="R"

In [21]:
print("st {} tutorial".format(x))

st R tutorial

In [22]:
x= "sql"

In [26]:
var1 =2+2+4

In [27]:
print("st {} tutorial{}".format(x,var1))

st sql tutorial8

In [17]:

# types of function in string
 #1 len
 #2 replace

In [12]:
 # len
   
len(str1)

19

In [13]:
  # replace 
    
str1.replace("python","sql")

' st sql tutorial'

In [28]:
 # index in string

In [29]:
 x[1]

'q'

In [30]:
x[2:5]

'l'

In [31]:
x[4:6]

''

In [33]:
x[-1]  # -1 means we get last character

'l'

In [35]:
x[:5] # i want all char start of the string

'sql'

In [37]:
x[5:]

''